<!--start of footer-->
<!--
<footer style="position:sticky; top:100%;
        background-color:#7002c4;color:white; height:6rem;padding:2rem ">
    <p class="text-center">Hungry Gator</p>
</footer>
--->
<!---end of footer--->

<footer id="footer">
    <p class="text-center">Hungry Gator</p>
</footer>