<!--start of navigation bar-->
<ul class="container-fluid border">
    <ul class="row">
        <div class="col">
            <nav class="navbar navbar-light ">
                <a class="navbar-brand" href="/">
                    <i class="bi bi-cup-hot"> Hungry Gator</i>
                </a>
        </div>

        <div class="col-7">
            <form action="/result" method="get">
                <div class="input-group">
                    <select id="category" class="form-select" name="category" value="{{category}}">
                        <option selected value="">All Categories</option>
                        <option value="American">American</option>
                        <option value="Mexican">Mexican</option>
                        <option value="Asian">Asian</option>
                        <option value="Italian">Italian</option>
                    </select>
                    <input id="search" class="form-control mr-sm-2" type="search" name="search" value="{{searchTerm}}"
                        placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    <button id="search-button" type="submit" class="btn btn-outline-dark">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>

        <div class="col">
            <div class="row align-items-center">
                <a id="sign-in-button" class="btn btn-outline-dark" href="/login">Sign In</a>
                <a id="sign-up-button" class="btn btn-outline-dark" href="/register">Sign Up</a>
            </div>
        </div>
        </nav>
    </ul>
</ul>

<!--end of navigation bar-->