<div class="container d-flex justify-content-center align-items-center flex-column">
  <h2>CSC648-03</h2>
  <h2>Spring, 2023</h2>
  <h2>Team 05</h2>
</div>
<!--<script>
  // function to execute a search and render the results on the home page
  function createCard(postData) {
    return `<div id="Restaurant-${postData.restaurant_id}" class="card"
        <div class="card-body">
            <p class="card-title">${postData.restaurant_name}</p>
            <p class="card-text">${postData.restaurant_address}</p>
            <p class="card-text">${postData.price_range}</p>
            <p class="card-text">${postData.restaurant_category}</p>
        </div>
    </div>`;
  }

  function executeSearch() {
    let searchTerm = document.getElementById('search').value;
    let category = document.getElementById('category').value;
    if (!searchTerm) {
      location.replace('/');
      return;
    }
    let mainContent = document.getElementById('main-content');
    let searchURL = `/result?category=${category}&search=${searchTerm}`;
    fetch(searchURL && category)
      .then((data) => {
        return data.json();
      })
      .then((data_json) => {
        let newMainContenHTML = '';
        data_json.searchResult.forEach((row) => {
          newMainContenHTML += createCard(row);
        });
        mainContent.innerHTML = newMainContentHTML;
      })
      .catch((err) => console.log(err));
  }

  let searchButton = document.getElementById('search-button');
  if (searchButton) {
    searchButton.onclick = executeSearch;
  }
</script>-->