<!--- start of form login --->
<div class="login-container">

  <!-- start of form--->
  <form id="login-form" class="justify-content-md-center">
    <!-- <div class="shadow p-6 mb-5 bg-white rounded">--->
    <div class="row justify-content-md-center">
      <h2>Login</h2>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-md-5" id="name">
        <label id="login-email">Email</br></label>
        <input type="email" class="form-control mr-sm-2" type="text">
        <label id="login-password">Password</br></label>
        <input type="password" class="form-control mr-sm-2" type="text">
      </div>
    </div>
    <!-- </div>-->
  </form>
  <!-- end of form -->

  <!-- start of buttons--->
  <div class="d-flex justify-content-center" style="margin-bottom:2rem">
    <p style="margin:1rem" href="....">FORGOT PASSWORD?</p>
    <button type="button" class="btn btn-outline-dark" href="....">Sign In</button>
  </div>
  <!--- end of buttons-->

  <!-- </div>-->
</div>