  <div class="container" style="margin-top:2rem;">
    <div class="shadow p-3 mb-5 bg-white rounded">

     <div class="row justify-content-md-center">
            <h1>Uploading Menu Items</h1>
        </div>

        <form style="margin:1rem">
            <div class="row justify-content-md-center" style="margin-bottom:1rem; margin-top:1rem">
                <div class="col-md-5 align-self-center ">
                    <p>Upload image of the dish</p>
                    <div class="custom-file mb-4" style="margin-bottom:2rem">
                        <input type="file" class="custom-file-input" required>
                        <label class="custom-file-label">Choose file...</label>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col-md-5 " style="margin-bottom:1rem">
                    <p>Name of dish</p>
                    <input type="text" placeholder="Name of dish">
                </div>
                <div class="w-100"></div>
                <div class="col-md-5" style="margin-bottom:1rem">
                    <p>Category of dish</p>
                    <input type="text" placeholder="category of dish" >
                </div>
                <div class="w-100"></div>
                <div class="col-md-5" style="margin-bottom:1rem">
                    <p>Price of dish</p>
                    <input type="text" placeholder="price of dish" >
                </div>

                <div class="w-100"></div>
                <div class="col-md-5 " style="margin-bottom:1rem">
                    <p>Describe your dish</p>
                    <textarea class="col-lg-8 align-self-center" ></textarea>
                </div>
                <div class="w-100"></div>
                <div class="col-md-5 ">
                     <button type="reset" class="btn btn-outline-dark" href="....">Cancel</button>
                     <button type="button" class="btn btn-outline-dark" href="....">Add Another Item</button>
                     <button type="button" class="btn btn-outline-dark" href="....">Upload Item</button>
                </div>
            </div>
        </form>
    </div>
  </div>
