  <div class="container" style="margin-top:2rem;">
    <div class="shadow p-3 mb-5 bg-white rounded">

      <div class="row justify-content-md-center">
        <h1>Menu</h1>
      </div>

      <div style="margin:1rem">
        <h5>Category</h5>

        <!-- start of menu --->
        <div class="row justify-content-md-center" style="margin-bottom:1rem;">
          <div class="col-lg-12">

            <!-- start of item 1-->
            <div class="row border" style="padding:1rem;margin:0.5rem">
              <div class="col-lg-5">
                <img
                  src="https://media.istockphoto.com/id/1316145932/photo/table-top-view-of-spicy-food.jpg?b=1&s=170667a&w=0&k=20&c=P3jIQq8gVqlXjd4kP2OrXYyzqEXSWCwwYtwrd81psDY="
                  class="card-img-top">
              </div>
              <div class="col-md-4 card-body">
                <p class="card-title">Name of Plate:</p>
                <p class="card=text">Description fo food:</p>
              </div>
              <div class="col-md-3 align-self-center">
                <button class="btn btn-outline-dark" href="....">price</button>
              </div>
            </div>
            <!-- end of item 1-->

            <!-- start of item 2-->
            <div class="row border" style="padding:1rem;margin:0.5rem">
              <div class="col-lg-5">
                <img
                  src="https://media.istockphoto.com/id/1316145932/photo/table-top-view-of-spicy-food.jpg?b=1&s=170667a&w=0&k=20&c=P3jIQq8gVqlXjd4kP2OrXYyzqEXSWCwwYtwrd81psDY="
                  class="card-img-top">
              </div>
              <div class="col-md-4 card-body">
                <p class="card-title">Name of Plate:</p>
                <p class="card=text">Description fo food:</p>
              </div>
              <div class="col-md-3 align-self-center">
                <button class="btn btn-outline-dark" href="....">price</button>
              </div>
            </div>
            <!-- end of item 2-->

            <!-- start of item 3-->
            <div class="row border" style="padding:1rem;margin:0.5rem">
              <div class="col-lg-5">
                <img
                  src="https://media.istockphoto.com/id/1316145932/photo/table-top-view-of-spicy-food.jpg?b=1&s=170667a&w=0&k=20&c=P3jIQq8gVqlXjd4kP2OrXYyzqEXSWCwwYtwrd81psDY="
                  class="card-img-top">
              </div>
              <div class="col-md-4 card-body">
                <p class="card-title">Name of Plate:</p>
                <p class="card=text">Description fo food:</p>
              </div>
              <div class="col-md-3 align-self-center">
                <button class="btn btn-outline-dark" href="....">price</button>
              </div>
            </div>
            <!-- end of item 3-->

          </div>
        </div>
        <!-- end of menu-->
      </div>
    </div>
  </div>