<div class="container" style="margin-top:2rem;">
    <!--<div class="justify-content-center">-->
    <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="row justify-content-md-center">
            <h2>Restaurant Details</h2>
        </div>
        <form class="col justify-content-md-center" style="margin-bottom:1rem; margin-top:1rem">

            <div id="Restaurant_Name" style="margin-bottom:2rem">
                <p>Restaurant Name*</p>
                <input placeholder="Restaurant Name" class="form-control" type="text">
            </div>
            <!---Restaurant Address--->
            <div id="restaurant_address" style="margin-bottom:10px">
                <p>Restaurant Address*</p>
                <input placeholder="Street Address" class="form-control" type="text">
            </div>

            <div class="row" style="margin-bottom:2rem;margin-top:10px">
                <div class="col-md-4" id="city">
                    <p>City*</p>
                    <input placeholder="city" class="form-control mr-sm-2" type="text">
                </div>
                <div class="col-md-3" id="state">
                    <p>State*</p>
                    <input placeholder="state" class="form-control mr-sm-2" type="text">
                </div>
                <div class="col-md-3" id="country">
                    <p>Country*</p>
                    <input placeholder="country" class="form-control mr-sm-2" type="text">
                </div>
                <div class="col-md-2" id="zip_code">
                    <p>Zip Code*</p>
                    <input placeholder="zip code" class="form-control mr-sm-2" type="text">
                </div>
            </div>

            <p>Special offers (optional)</p>
            <div class="custom-control custom-checkbox mb-4">
                <input type="checkbox" class="custom-control-input">
                <label class="custom-control-label">Weekly Discounts and Promotion</label>
            </div>
            <div class="custom-control custom-checkbox mb-4">
                <input type="checkbox" class="custom-control-input">
                <label class="custom-control-label">Free Delivery</label>
            </div>
            <div class="custom-control custom-checkbox mb-4">
                <input type="checkbox" class="custom-control-input">
                <label class="custom-control-label">Option 3</label>
            </div>
            <div class="custom-file mb-4" style="margin-bottom:2rem">
                <p>Restaurant Thumbnail*</p>
                <input type="file" class="custom-file-input" required>
                <label class="custom-file-label">Choose file...</label>
            </div>

        </form>
    </div>
    <div class="d-flex justify-content-center" style="margin-bottom:2rem">
        <div class="button_container">
            <button type="button" class="btn btn-outline-dark" href="....">Cancel</button>
            <button type="button" class="btn btn-outline-dark" href="....">Submit Request</button>
        </div>
    </div>
    <!-- </div>-->
</div>